.jumbotron {
    border-radius: 0;
}

.employee-card {
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    border: none;
}

.card-header {
    background-color: lightsteelblue;
}

.card-body {
    background-color: lightgray;
}

.team-heading {
    background-color: whitesmoke;
    color: steelblue
}